.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.bmi-calculator-container {
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: center;
}
.bmi-calculator-container > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 60px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px -11px rgba(0, 0, 0, 0.75);
}
.bmi-calculator-container > form > input {
  height: 35px;
  width: 300px;
  font-size: 18px;
  padding-left: 5px;
  outline: none;
}
.bmi-calculator-container > form > button {
  height: 40px;
  font-size: 20px;
  background-color: var(--border-color);
  font-style: inherit;
  font-weight: 400;
  cursor: pointer;
  border: none;
}

.display-container {
  margin-top: 10px;
  border: 1px solid black;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.BMI-information-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  padding: 10px;
}
.BMI-information-container > p {
  text-align: justify;
  font-size: 14px;
}
.main-BMI-chart-container {
  display: flex;
  flex-direction: column;
}
.main-BMI-chart-container > .bmi-row {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  gap: 20px;
}

footer {
  font-size: 20px;
  margin-top: auto;
  width: 100%;
  background-color: var(--border-color);
}

/* mobile */
@media only screen and (max-width: 680px) {
  .bmi-calculator-container {
    flex-direction: column;
  }
  .bmi-calculator-container>form{
    padding: 20px;
  }
}
